#######################################
# dk_test.config
# Order of assignments does not matter
# additional invalid (unknown) variable assignments do not matter
# blank lines and comment lines do not matter
# valid keys and values
#  ctrl_ip - valid IPv4 or IPv6 address
#  cassandra_server_ip - valid IPv4 or IPv6 address
#  mgmt_intf - string of length 32 chars or less
#  cassandra_key_space - string of length 16 chars or less
#  debug_mode - true OR false OR TRUE OR FALSE
#  cassandra_replication_factor - 1 to 10
#  ssl related keys - string of length 256 chars or less
#  spool_default - string of length 30 chars or less
#  smac_id and emac_id - 32 bit unsigned integers in hex format
#  dci_svlan_min, dci_svlan_max, om_vlan_min, om_vlan_max - 1 to 4095
#  fnode_idx_min, fnode_idx_max - 1 to 50000
#  om_vni_idx_min, om_vni_idx_max - 1 to 8192
#######################################
mgmt_intf = eth0
ctrl_ip = 127.0.0.1
cassandra_server_ip = 127.0.0.1
cassandra_key_space = dk_testnetworks_wan
cassandra_replication_factor = 1
debug_mode = false

# Additional keys - 11-may-17
ssl_server_cert =     /usr/local/share/dk_test/certs/ssl-cert/server.crt
ssl_server_cert_key = /usr/local/share/dk_test/certs/ssl-cert/server.key
ssl_client_cert =     /usr/local/share/dk_test/certs/ssl-cert/client.crt
ssl_client_cert_key = /usr/local/share/dk_test/certs/ssl-cert/client.key

spool_default   = 10.0.0.1/20
smac_id         = 0x0
emac_id         = 0xffffff
dci_svlan_min   = 1
dci_svlan_max   = 4095
fnode_idx_min   = 1
fnode_idx_max   = 50000

om_vni_idx_min  = 1
om_vni_idx_max  = 4095
om_vlan_min     = 1
om_vlan_max     = 4095

br_dci = br-dci
